<nav class="navbar navbar-light bg-dark">
    <form class="container-fluid justify-content-end" id="signOut_form">
      <input type="submit" class="btn btn-outline-danger" value="Sign Out">
    </form>
</nav>