<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head_form'); %>
</head>
<body>
    <%- include('../partials/nav_signOut'); %>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <h1>Admin Panel</h1>
                <p id="messageResponse"></p>
                <%-  include('../adminView'); %>

            </div>
        </div>
    </div>
    <script type="application/json" src="../scripts/admin_panel.js"></script>
</body>
</html>