<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Buy</th>
        </tr>
    </thead>
    <tbody id="tbody_products">
        
    </tbody>
</table>
