<div class="form-group">
    <label class="form-control-label" >CONFIRM PASSWORD</label>
    <input type="password" class="form-control" name="confirm_password" value="">
    <span class="help-block"></span>
</div>
<div class="form-control-label">YA TIENES CUENTA?  <a href="login">Ingresa aquí</a></div>