<div class="col-lg-12 login-title">
    Welcome <!-- Título del mensaje de bienvenida -->
</div>
<div class="col-lg-12 login-text">
    Thank you for joining us <!-- Texto del mensaje de bienvenida -->
</div>