<div class="col-lg-12 login-key">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> <!-- Icono de espera -->
</div>
<div class="col-lg-12 login-title">
    Waiting for Admin Authorization <!-- Título del mensaje de espera -->
</div>